body {
    font-family: "Work Sans", sans-serif;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
    padding-top: 3%;
}

.link {
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: black;
}

.link:hover {
    color: gray;
}