#calendar {
    display: flex;
    width: 100%;
    padding: 16px;
}

.fc-event.task-done .fc-event-title {
    text-decoration: line-through;
}

.fc-event-title-container {
    white-space: normal !important;
}

.fc-daygrid-event {
    height: auto !important;
}

.shift-right {
    margin-left: 20px !important;
}