.standard-button {
    background-color: rgb(247, 226, 223);
    color: rgb(0, 0, 0);
}

.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

.event-button {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

.edit-buttons-div {
    display: flex;
    justify-content: center;
    margin: 8px;
}