<section class="footer">
    <ul class="authors-links">
        <li>
            <a class="author-link standard-authors-link" th:href="${info.currentPage == '/Andrii' ? '/' : '/authors/Andrii'}" th:text="${info.currentPage == '/Andrii' ? 'Home Page' : 'Andrii'}">Andrii</a>
        </li>
        <li>
            <a class="author-link standard-authors-link" th:href="${info.currentPage == '/Anton' ? '/' : '/authors/Anton'}" th:text="${info.currentPage == '/Anton' ? 'Home Page' : 'Anton'}">Anton</a>
        </li>
        <li>
            <a class="author-link standard-authors-link" th:href="${info.currentPage == '/Max' ? '/' : '/authors/Max'}" th:text="${info.currentPage == '/Max' ? 'Home Page' : 'Max'}">Max</a>
        </li>
        <li>
            <a class="author-link standard-authors-link" th:href="${info.currentPage == '/Vlad' ? '/' : '/authors/Vlad'}" th:text="${info.currentPage == '/Vlad' ? 'Home Page' : 'Vlad'}">Vlad</a>
        </li>
    </ul>
</section>
