<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Forgot Password</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/corner.css">

    <style>
        form {
            align-items: center;
        }
    </style>
</head>
<body class="standard" id="loginBody">
    <section class="loginContent">
        <div th:if="${message != null}" class="alert" th:text="${message}">message</div>

        <a class="link" th:href="@{/register}">Sign up</a>
        <a class="link" th:href="@{/login}">Sign in</a>

        <form action="#">
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" required/><br>
            <button type="submit">Reset</button>
        </form>
    </section>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:inline="javascript">
        let serverContext = [[@{/}]];

        $(document).ready(function () {
            $('form').submit(function(event) {
                resetPass(event);
            });
        });

        async function resetPass(event) {
            event.preventDefault();
            let email = $("#email").val();
            let csrfToken = $("meta[name='_csrf']").attr("content");
            let csrfHeader = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                url: serverContext + "resetPassword",
                type: "POST",
                data: { email: email },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(data) {
                    window.location.href = serverContext + "login?message=" + data.message;
                },
                error: function(data) {
                    if (data.responseJSON && data.responseJSON.error && data.responseJSON.error.indexOf("MailError") > -1) {
                        window.location.href = serverContext + "emailError.html";
                    } else {
                        window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                    }
                }
            });
        }

        $(document).ajaxStart(function() {
            $("title").html("LOADING ...");
        });
    </script>
</body>
</html>