<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks manager</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/generalStyles.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body class="content-holder">
    <div>
        <div sec:authorize="isAuthenticated()" th:replace="header :: header"></div>
        <h1 class="title">Just do it</h1>
    </div>

    <footer>
        <a class="link" href="/tasks">Get your list of tasks</a>
    </footer>
</body>
</html>
