<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/generalStyles.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body class="content-holder" id="loginBody">
    <section class="loginContent">
        <div th:if="${param.message}" class="alert" th:text="${param.message}">message</div>
        <div th:if="${message != null}" class="alert" th:text="${message}">message</div>

        <h1>Sign in to Tasks Manager</h1>

        <form method="POST" th:action="@{/login}" id="loginForm">
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <br>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <br>

            <div>
                <label for="username">Username </label><br>
                <input class="text-input" id="username" type="text" name="username"/>
            </div>
            <br>

            <div>
                <div class="password-label">
                    <label for="password">Password </label>
                    <a class="link" th:href="@{/forgotPassword}">Forgot password?</a>
                </div>
                <input class="text-input" id="password" type="password" name="password"/><br/>
            </div>
            <br>

            <input id="loginSubmit" type="submit" value="Login"/>
        </form>

        <p>New to Tasks Manager?
            <a class="link" th:href="@{/register}">Create an account </a></p>
    </section>
</body>
</html>