<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/corner.css">
</head>
<body class="standard" id="loginBody">
    <section class="loginContent">
        <div th:if="${message != null}" class="alert" th:text="${message}">message</div>

        <p>New here? Click
            <a class="link" th:href="@{/register}">here</a> to register.</p>

        <form method="POST" th:action="@{/login}" id="loginForm">
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <br>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <br>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username"/><br>

            <label for="password">Password: </label>
            <input id="password" type="password" name="password"/><br/>

            <input id="loginSubmit" type="submit" value="Login"/>
        </form>
    </section>
</body>
</html>