<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to task manager!</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/generalStyles.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body class="content-holder" id="loginBody">
    <section class="loginContent">
        <h1>Sign up to Tasks Manager</h1>

        <form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">
            <div class="name-container">
                <div>
                    <label for="firstName">First name</label><br>
                    <input class="name-text-input" id="firstName" type="text" name="firstName" th:field="*{firstName}"/>
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-error little-font">
                        Invalid first name.
                    </div>
                </div>

                <div>
                    <label for="lastName">Last name</label><br>
                    <input class="name-text-input" id="lastName" type="text" name="lastName" th:field="*{lastName}"/>
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-error little-font">
                        Invalid last name.
                    </div>
                </div>
            </div>
            <br/>

            <div>
                <label for="email">Email</label><br>
                <input class="text-input" id="email" type="email" name="email" th:field="*{email}"/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-error little-font">
                    Invalid email has error.
                </div>
                <p th:text="${message}" class="alert alert-error little-font">
                    Message.
                </p>
            </div>

            <div>
                <label for="password">Password</label><br>
                <input class="text-input" id="password" type="password" name="password" th:field="*{password}"/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-error little-font">
                    Invalid password.
                </div>
            </div>
            <br/>

            <div>
                <label for="matchingPassword">Confirm password</label><br>
                <input class="text-input" id="matchingPassword" type="password" name="matchingPassword" th:field="*{matchingPassword}"/>
                <div th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors()[0]}" class="alert alert-error little-font">
                </div>
            </div>
            <br/>
            <input id="registerSubmit" type="submit" value="Register"/>
        </form>

        <p>Already have an account?
            <a class="link" th:href="@{/login}">Sign in</a></p>
    </section>
</body>
</html>